<body>
  <a href="/login">Log In</a>
  <a href="/signup">Sign up</a>
  <h1>Login</h1>
  <form action="/login" method="post">
    <label>Username</label>
    <input type="text" name="username" value="" placeholder="username"></input>
    <br>
    <label>Password</label>
    <input type="password" name="password" value="" placeholder="password"></input>
    <br>
    <button type="submit" name="login">Login</button>
  </form>
</body>