<body>
  <a href="/">Logged in as {{user}}</a>
  <a href="/logout">Log out</a>
  <h1>Create a new gab</h1>
  <form action="/gab" method="post">
    <textarea type="text" name="gabber" value="" placeholder="that gab goes here"></textarea><br>
    <button type="submit" name="gabButton">Save Gab</button>
  </form>
</body>