<body>
  <a href="/login">Log In</a>
  <a href="/signup">Sign up</a>
  <h1>Sign Up</h1>
    <form action="/signup" method="post">
      <label>username</label>
      <input type="text" name="username" value="" placeholder="username"></input><br>
      <label>password</label>
      <input type="password" name="password" value="" placeholder="password"></input><br>
      <label>re-enter password</label>
      <input type="password" name="repassword" value="" placeholder="re-enter password"></input><br>
      <button type="submit" name="subButton">Submit</button>
    </form>
</body>